*, *::before, *::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Indie Flower', cursive;
  overflow: hidden;
}

body .atom-img {
  width: 500px;
  -webkit-animation: rotate-atom 10s infinite forwards;
          animation: rotate-atom 10s infinite forwards;
}

body .img-container {
  position: absolute;
  top: calc(50% - (500px / 2));
  left: -125px;
  -webkit-transition: -webkit-transform 4s ease;
  transition: -webkit-transform 4s ease;
  transition: transform 4s ease;
  transition: transform 4s ease, -webkit-transform 4s ease;
}

body .rotate-to-exit {
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
}

@-webkit-keyframes rotate-atom {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-atom {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

body .remove {
  display: none !important;
}

body h1 {
  width: 600px;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

body div.container-menu {
  -webkit-transition: -webkit-transform 3s ease;
  transition: -webkit-transform 3s ease;
  transition: transform 3s ease;
  transition: transform 3s ease, -webkit-transform 3s ease;
}

body div.container-menu h1.title {
  position: absolute;
  margin-top: 150px;
  -webkit-transition: -webkit-transform 3s cubic-bezier(0, 0.93, 0.31, 0.97);
  transition: -webkit-transform 3s cubic-bezier(0, 0.93, 0.31, 0.97);
  transition: transform 3s cubic-bezier(0, 0.93, 0.31, 0.97);
  transition: transform 3s cubic-bezier(0, 0.93, 0.31, 0.97), -webkit-transform 3s cubic-bezier(0, 0.93, 0.31, 0.97);
  left: 0;
}

body div.container-menu .go {
  -webkit-transform: translateX(calc(50vw - (600px/2)));
          transform: translateX(calc(50vw - (600px/2)));
}

body div.container-menu button.btn {
  width: 200px;
  height: 100px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

body div.container-menu .first-btn {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  margin-top: 375px;
  left: calc(50% - (200px/2));
}

body div.container-menu .shake {
  -webkit-animation: 1500ms move linear infinite;
          animation: 1500ms move linear infinite;
}

body div.container-menu .show {
  visibility: visible !important;
  opacity: 1 !important;
}

@-webkit-keyframes show {
  from {
    opacity: 0%;
  }
  to {
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes show {
  from {
    opacity: 0%;
  }
  to {
    visibility: visible;
    opacity: 100%;
  }
}

@-webkit-keyframes move {
  17%, 48%, 80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  2% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  32% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  62% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px);
  }
  88% {
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px);
  }
}

@keyframes move {
  17%, 48%, 80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  2% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  32% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  62% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px);
  }
  88% {
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px);
  }
}

body div.container-menu div.options, body div.container-menu form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body div.container-menu form input {
  position: relative;
  margin: 30px;
  width: 400px;
  height: 50px;
  text-align: center;
}

body div.container-menu form .input-div {
  position: relative;
  width: 400px;
}

body div.container-menu form input, body div.container-menu form input::-webkit-input-placeholder {
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
}

body div.container-menu form input, body div.container-menu form input:-ms-input-placeholder {
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
}

body div.container-menu form input, body div.container-menu form input::-ms-input-placeholder {
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
}

body div.container-menu form input, body div.container-menu form input::placeholder {
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
}

body div.container-menu form input:invalid + .input-div:after {
  content: 'Invalid data';
}

body div.container-menu form input:out-of-range + .input-div:after {
  content: 'Out of range' !important;
}

body div.container-menu form input:valid + .input-div:after {
  content: 'Correct data';
}

body div.container-menu form .input-div:after {
  content: '';
  position: absolute;
  display: block;
  width: inherit;
  text-align: center;
  top: -30px;
}

body div.container-menu > div {
  width: 100vw;
  height: 100vh;
}

div.content {
  display: none;
}

div.content canvas {
  border: black 3px solid;
  margin: 50px;
}

footer {
  display: none;
}
/*# sourceMappingURL=style.css.map */