* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
}

body .atom-img {
  position: absolute;
  top: calc(50% - (500px / 2));
  left: -125px;
  width: 500px;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: rotate-atom;
          animation-name: rotate-atom;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotate-atom {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-atom {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .remove {
  display: none !important;
}

body .close {
  -webkit-animation: up 4s 1;
          animation: up 4s 1;
}

@-webkit-keyframes up {
  to {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@keyframes up {
  to {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@-webkit-keyframes next-page {
  from {
    top: 0;
  }
  to {
    top: 1000;
    display: none;
  }
}

@keyframes next-page {
  from {
    top: 0;
  }
  to {
    top: 1000;
    display: none;
  }
}

div.menu {
  font-family: 'Indie Flower', cursive;
}

div.menu h1.title {
  width: 600px;
  position: absolute;
  font-size: 50px;
  margin-top: 150px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 3s cubic-bezier(0, 0.93, 0.31, 0.97), -webkit-animation;
  transition: -webkit-transform 3s cubic-bezier(0, 0.93, 0.31, 0.97), -webkit-animation;
  transition: transform 3s cubic-bezier(0, 0.93, 0.31, 0.97), animation;
  transition: transform 3s cubic-bezier(0, 0.93, 0.31, 0.97), animation, -webkit-transform 3s cubic-bezier(0, 0.93, 0.31, 0.97), -webkit-animation;
  left: 0;
}

div.menu .go {
  -webkit-transform: translateX(calc(50vw - (600px/2)));
          transform: translateX(calc(50vw - (600px/2)));
}

div.menu button.btn {
  visibility: hidden;
  width: 200px;
  height: 100px;
  text-transform: uppercase;
  position: absolute;
  font-family: inherit;
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  opacity: 0;
  top: calc(50% - (100px/2));
  left: calc(50% - (200px/2));
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
}

div.menu .show {
  visibility: visible !important;
  opacity: 1 !important;
}

@-webkit-keyframes show {
  from {
    opacity: 0%;
  }
  to {
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes show {
  from {
    opacity: 0%;
  }
  to {
    visibility: visible;
    opacity: 100%;
  }
}

@-webkit-keyframes move {
  17%, 48%, 80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  2% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  32% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  62% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px);
  }
  88% {
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px);
  }
}

@keyframes move {
  17%, 48%, 80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  2% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  32% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  62% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px);
  }
  88% {
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px);
  }
}

div.content {
  display: none;
}

div.content canvas {
  border: black 3px solid;
  margin: 50px;
}

footer {
  display: none;
}
/*# sourceMappingURL=style.css.map */