$h1-size: 50px;
$img-width: 500px;
$h1-width: 600px;

*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Indie Flower', cursive;
    overflow: hidden;

    .atom-img{
        width: $img-width;
        animation: rotate-atom 10s infinite forwards;
    }

    .img-container{
        position: absolute;
        top: calc(50% - (#{$img-width} / 2));
        left: -$img-width/4;
        transition: transform 4s ease;
    }

    .rotate-to-exit{
        // transform-origin: translate(100%,0);
        // transform: rotate(-90deg);
        transform: translateX(-50vw);
    }

    @keyframes rotate-atom{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(-360deg);
        }
    }

    .remove{
        display: none !important;
    }

    h1{
        width: $h1-width;
        font-size: $h1-size;
        text-transform: uppercase;
        text-align: center;
    }

    div.container-menu{
        $button-width: 200px;
        $button-height: 100px;

        transition: transform 3s ease;
    
        h1.title{
            position: absolute;
            margin-top: $img-width * 0.3;
            transition: transform 3s cubic-bezier(0,.93,.31,.97);
            left: 0;
        }
    
        .go{
            transform: translateX(calc(50vw - (#{$h1-width}/2)));
        }
    
        button.btn{
            width: $button-width;
            height: $button-height;
            text-transform: uppercase;
            font-family: inherit;
            font-weight: bold;
            font-size: $h1-size * 0.5;
            background-color: white;
            border: 2px solid black;
            cursor: pointer;
        }

        .first-btn{
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transition: opacity 3s ease;
            margin-top: $img-width * 0.75;
            left: calc(50% - (#{$button-width}/2));
        }

        .shake{
            animation: 1500ms move linear infinite;
        }
    
        .show{
            visibility: visible !important;
            opacity: 1 !important;
        }
    
        @keyframes show{
            from{
                opacity: 0%;
            }
    
            to{
                visibility: visible;
                opacity: 100%;
            }
        }
    
        @keyframes move{
            17%,48%,80%{
                transform: translate(0,0);
            }
    
            2%{
                transform: translate(2px,2px);
            }
    
            32%{
                transform: translate(2px,-2px);
            }
    
            62%{
                transform: translate(-1px,2px);
            }
    
            88%{
                transform: translate(-2px,1px);
            }
        }

        div.options, form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        form input{
            margin: 30px;
            width: $button-width*2;
            height: $button-height/2;
            text-align: center;
        }

        form input, form input::placeholder{
            font-family: 'Indie Flower', cursive;
            font-size: 1.2em;
        }
    }

    div.container-menu > div{
        width: 100vw;
        height: 100vh;
    }
}

div.content{
    display: none;
    canvas{
        border: black 3px solid;
        margin: 50px;
    }
}

footer{
    display: none;
}